<h1>Skate Park</h1>

<div class="py-4">
    <h2>Datos del perfil</h2>
    <hr class="w-50" />

    <form id="formActualizar">
        <div class="form-group row w-50 m-auto">
            <div class="form-group col-12 col-sm-6">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" class="form-control m-auto" disabled value="{{inscrito.email}}" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label for="nombre">Nombre</label>
                <input id="nombre" name="nombre" type="text" class="form-control m-auto" value="{{inscrito.nombre}}" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" class="form-control m-auto" value="" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label for="rptpassword">Repita la password</label>
                <input id="rptpassword" name="rptpassword" type="password" class="form-control m-auto" value="" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label for="experiencia">Años de experiencia</label>
                <input id="experiencia" name="experiencia" type="number" class="form-control m-auto" value="{{inscrito.experiencia}}" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label for="especialidad">Especialidad</label>
                <input id="especialidad" name="especialidad" class="form-control m-auto" value="{{inscrito.especialidad}}" />
            </div>
        </div>
        <div class="mb-1">
            <button id="btnActualizar" name="btnActualizar"  class="btn btn-primary">Actualizar</button>
        </div>
        <div>
            <button id="btnEliminar" name="btnEliminar"  class="btn btn-danger">Eliminar cuenta</button>
        </div>
        <a href="/admin">Ir a Administración</a>
    </form>
</div>

<script>
    document.getElementById("formActualizar").addEventListener("submit", async (event) =>
    {
         event.preventDefault()

        let email = document.querySelector('#email').value;
        let nombre = document.querySelector("#nombre").value;
        let password = document.querySelector("#password").value;
        let rptpassword = document.querySelector("#rptpassword").value;
        let experiencia = document.querySelector("#experiencia").value;
        let especialidad = document.querySelector('#especialidad').value;


        const action = event.submitter.id
        if (action == 'btnActualizar') 
        {
            console.log(password, rptpassword);

            if(email == "" || password == "" || rptpassword == "" || nombre == "" || experiencia == "" || especialidad == "")
            {
                Swal.fire(
                {
                    title: 'Error!',
                    text: 'LLene los campos en blanco por favor.',
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
            else
            {
                if(password != rptpassword) 
                {
                    Swal.fire(
                    {
                        title: 'Error!',
                        text: 'Los Password no son Iguales.',
                        icon: 'error',
                        confirmButtonText: 'Aceptar'
                    });
                }
                else 
                {
                    const response = await fetch("/inscritos",
                    {
                        method: "PUT",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(
                        {
                            email, nombre, password, experiencia, especialidad
                        })
                    });

                    if(response.status == 200)
                    {
                        const data = await response.json();
                        Swal.fire({
                            title: 'Actualización!',
                            text: 'Skater actualizado con exito.',
                            icon: 'success',
                            confirmButtonText: 'Aceptar'
                        });
                    }
                    else
                    {
                        Swal.fire(
                        {
                            title: 'Error!',
                            text: 'No fue posible hacer las modificaciones, Error interno del servidor.',
                            icon: 'error',
                            confirmButtonText: 'Aceptar'
                        });
                    }
                }
            }
        }
        else
        {
            if(email == "")
            {
                Swal.fire(
                {
                    title: 'Error!',
                    text: 'Falta Email.',
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
            else
            {
                const response = await fetch(`/inscritos?email=${email}`, {
                    method: "DELETE",
                })

                console.log(response);

                if(response.status == 200)
                {
                    const data = await response.json();
                    Swal.fire({
                        title: 'Eliminado!',
                        text: 'Skater eliminado con exito.',
                        icon: 'success',
                        confirmButtonText: 'Aceptar'
                    })
                    .then((result) => 
                    {
                        if (result.isConfirmed) 
                        {
                            window.location = "/";
                        }
                    })
                }
                else 
                {
                    Swal.fire(
                    {
                        title: 'Error!',
                        text: 'No fue posible eliminar al skater, Error interno del servidor.',
                        icon: 'error',
                        confirmButtonText: 'Aceptar'
                    });
                }
            }
        }
    });
</script>